@model Lumen_MovieDB.Models.Movies

@{
    ViewBag.Title = Model.MovieTitle;
}
<div class="row">
    <div class="col-lg-2 feature-img">
        <img src="/Content/Images/@Model.featuredImg" class="img-responsive" alt="@Model.MovieTitle" />
    </div>
    <div class="col-lg-8">
        <h2>@Model.MovieTitle - (@Model.ReleaseYear)</h2>
        <p>@Model.Description</p><small>@Model.MovieGenre</small>
        <br />
        <br />
        <p>
            @Html.TextBoxFor(x => x.Username, new { @class = "form-control", @placeholder = "Username"})
        </p>
        <p>
            @Html.TextAreaFor(x => x.Comment, new { @class = "form-control", @placeholder = "Comment" })
        </p>
        <p><a class="btn btn-success" onclick="saveComment()">Save</a></p>
        <h3>Comments:</h3>
        <div id="container"></div>
    </div>

    
</div>



